body {
    width: 1440px;
    background-color: var(--backgroud-color);
    position: relative;
}
.nav {
    height: 906px;
    width: 100px;
    background-color: var(--nav-color);
    text-align: center;
    transition: width 1s;
}
nav > div {
    text-align: center;
    display: flex;
    align-items: center;
}
.line-23 {
    width: 62.24px;
    top: 110.03px;
    left: 18px;
    height: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    transition: width 2s;
}
.link {
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-decoration: none;
    display: none;
    /* visibility: hidden; */
}
.vector {
    height: 25px;
    margin: 17px;
    left: 43px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.logo {
    width: 68px;
    height: 34px;
    margin: 52px 16px 55px 16px;
    text-align: center;
    justify-content: center;
}
.nav:hover {
    width: 206px;
    cursor: pointer;
    text-align: center;
}
.nav:hover .line-23 {
    width: 128.22px;
    left: 39px;
}
.nav:hover .link {
    /* visibility: visible; */
    display: inline-block;
}
.line-24 {
    width: 346.01px;
    background-color: var(--primary-color);
    height: 1px;
    top: 871px;
    left: 547px;
    position: absolute;
}
.copy-right {
    font-size: 11px;
    line-height: 13px;
    color: var(--primary-color);
    padding: 0 0px 24px 0px;
    top: 882px;
    left: 626px;
    position: absolute;
}
